<html>
    <head>
        <title>Enquetes</title>
    </head>
    <body>
        <h1>Aplicação de Enquetes</h1>
        <h2>Detalhes da Enquete #{{ question.id }}</h2>
        <h3>{{ question.question_text }}</h3>
        {% if error %}
            <p><strong>{{ error }}</strong></p>
        {% endif %}
        <form action="{% url 'polls:votes' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
        <br/>
        <input type="submit" value="Votar">
        </form>
        <hr/>
        <a href="{% url 'polls:index' %}">Retornar ao início</a>
    </body>
</html>